# 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [13]:
test1 = 'This is a test of the emergency text system,'

f = open('test.txt', 'w')

In [14]:
f.write(test1)

44

# 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [15]:
f = open("test.txt",'r')
test2 = f.readline()
test2

'This is a test of the emergency text system,'

In [16]:
test1 == test2 # no diff both are same

True

# 3. Create a CSV file called books.csv by using these lines:
# title,author,year
# The Weirdstone of Brisingamen,Alan Garner,1960
# Perdido Street Station,China Miéville,2000
# Thud!,Terry Pratchett,2005
# The Spellman Files,Lisa Lutz,2007
# Small Gods,Terry Pratchett,1992

In [19]:
import csv
header = ['title','author','year']

data = [ 
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]
]
    
with open('book.csv', 'w', encoding='UTF8', newline='') as f:
    writer = csv.writer(f)

    # write the header
    writer.writerow(header)

    # write multiple rows
    writer.writerows(data)

# 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [22]:
import sqlite3
conn = sqlite3.connect('book.db')
cursor = conn.cursor()
cursor.execute('create table books2(title varchar(20),author varchar(20), year int)')
conn.commit()

# 5. Read books.csv and insert its data into the book table.

In [23]:
import pandas as pd

In [25]:
rd = pd.read_csv('book.csv',encoding='unicode_escape')
rd.to_sql('books2', conn, if_exists='append', index = False)

# Select and print the title column from the book table in alphabetical order.

In [26]:
cursor.execute('select title from books2 order by title asc')
print(cursor.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

# From the book table, select and print all columns in the order of publication.

In [28]:
cursor.execute('select title, author,year from books2 order by year')


df = pd.DataFrame(cursor.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station  China MiÃ©ville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

# Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [ ]:
NO

# Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [34]:
!pip install redis

Collecting redis
  Downloading redis-4.1.2-py3-none-any.whl (173 kB)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: packaging>=20.4 in d:\ana\lib\site-packages (from redis) (20.9)
Requirement already satisfied: wrapt<2,>=1.10 in d:\ana\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing>=2.0.2 in d:\ana\lib\site-packages (from packaging>=20.4->redis) (2.4.7)
Installing collected packages: deprecated, redis
Successfully installed deprecated-1.2.13 redis-4.1.2

# Increment the count field of test and print it.